<div class="grid-container">
  <div class="grid-item">
    <div class="photo">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="grid-item">
    <div class="container">
      <div class="row text-center text-lg-left" *ngIf="photos$ | async as photos">
        <div class="col-lg-3 col-md-4 col-6" *ngFor="let photo of photos">
          <a [routerLink]="['photos', photo.id]" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{photo.thumbnailUrl}}" alt="">
            <div>{{photo.title.split(' ').slice(0,2).join(' ')}}...</div>
          </a>
        </div>
      </div>
    </div>
    <div class="lower-right-corner">
      <a [routerLink]="['photos', 'new']">
        <img src="/assets/img/plus_add_green.png" height="30" width="30">
      </a>
    </div>
  </div>
</div>
