<div class="grid-container">
  <div class="grid-item">
    <h2>Albums</h2>
    <ul class="albums">
      <li *ngFor="let a of albums$ | async" [routerLink]="['/albums', a.id]" (click)="selectAlbum(a)">
        {{a.title}}
      </li>
    </ul>
  </div>
  <div class="grid-item" >
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" *ngIf="currentAlbum$ | async as currentAlbum">
      Photos of album {{currentAlbum.title}}
    </h1>
    <router-outlet></router-outlet>
  </div>
</div>
